nav{
    position: absolute;
    width: 100%;
}
.menu{
    justify-content: center;
    align-items: center;
    
}
.bg-light {
	background-color: transparent !important;
}
.cote{
    color: white!important;
    font-size: 40px!important;
}
.navbar-brand{
    
    float: left; 
    font-size: 45px;
    color: chartreuse;
    font-weight: bold;
}
ul li {
    margin-right: 30px;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    font-weight: bold;
}
ul li a:hover{
    background-color: white;
    border-radius: 10px;
    transition: 0.5s;
}
.boite{
    float: right;
    background-color: black;
    height: 40px;
    
    width: 110px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin: 20px;

}
.carousel-caption .para{
    border: 1px solid black;
    height: 300px;
    width: 400px;
    background-color: transparent;
}
.carousel-caption .teste{
    color: white;
}
.boite li a{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-decoration: none;
   
}
.boite:hover{
    /* background: whitesmoke; */
    color: #000!important;
}
.carousel-inner{
    height: 1000px;

}
.carousel-inner img{
    height: 1000px;  
}
.w-100{
    height: 100vh;
}
.carousel-caption{
    bottom: 200px!important;
}
.carousel-caption h5 {
	font-size: 65px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
    color: black;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 23px;
	line-height: 1.9;
    color: black;
}
.carousel-caption a {
	text-transform: uppercase;
	text-decoration: none;
	background: darkorange;
	padding: 10px 30px;
	display: inline-block;
	color: #fff;
	margin-top: 15px;
}
.carousel-caption a:hover{
    background-color: deepskyblue;
}

footer{
    border: 1px solid black;
}
/* h5{
    background-attachment: fixed;
    background-color: deepskyblue; 

} */
