nav{
    position: absolute;
    width: 100%;
}
.menu{
    justify-content: center;
    align-items: center;
    
}
.bg-light {
	background-color: transparent !important;
}
.cote{
    color: white!important;
    font-size: 40px!important;
}
.navbar-brand{
    
    float: left; 
    font-size: 45px;
    color: chartreuse;
    font-weight: bold;
}
ul li {
    margin-right: 50px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}
ul li a:hover{
    
    border-radius: 10px;
    transition: 0.5s;
}
form button a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    
}
form button a:hover{
    background-color: white;
}
form button{
    margin-right: 20px;
}
/* .boite{
    float: right;
    background-color: black;
    height: 40px;
   
    width: 110px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    padding-right: 20px;

}
.boite li a{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-decoration: none;

}
.boite:hover{
     background: whitesmoke; 
    color: black;
} */
/* .conn{
    margin-top: 100px;
} */