nav{
    position: absolute;
    width: 100%;
}
.menu{
    justify-content: center;
    align-items: center;
    
}
.bg-light {
	background-color: transparent !important;
}
.cote{
    color: white!important;
    font-size: 40px!important;
}
.navbar-brand{
    
    float: left; 
    font-size: 45px;
    color: chartreuse;
    font-weight: bold;
}
ul li {
    margin-right: 40px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}
ul li a:hover{
    background-color: white;
    border-radius: 10px;
    transition: 0.5s;
}
form button a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    
}
form button a:hover{
    background-color: white;
}
form button{
    margin-right: 20px;
}
.corps{
    height: 850px;
    width: 100%;
    background-image: url("./fond3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.ins{
    position:absolute;
    left: 50%;
    top: 43%;
    transform: translate(-50%,-50%);
    height: 550px;
    width: 600px;
    border: 1px solid rgba(160, 154, 154, 0.692);
    padding: 20px;
    border-radius: 10px;
    color: rgb(146, 141, 141);
    box-shadow:  0px 0px 10px grey;
    background-color: white;

    
}
.tester h1{
    text-align: center;
    font-size:60px; 
    color:  rgb(18,102, 241);
    box-shadow:  0px 0px 10px grey;
    border-radius: 10px;
    
    
}
.btn{
    float: right;
    width: 240px;
    padding: 10px;
}
.boutton:hover{
    background-color: darkgreen;
}
footer i{
    color: rgb(18,102, 241);
}
