nav{
    position: absolute;
    width: 100%;
}
.menu{
    justify-content: center;
    align-items: center;
    
}
.bg-light {
	background-color: transparent !important;
}
.cote{
    color: white!important;
    font-size: 40px!important;
}
.navbar-brand{
    
    float: left; 
    font-size: 45px;
    color: chartreuse;
    font-weight: bold;
}
ul li {
    margin-right: 60px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}
ul li a:hover{
    background-color: white;
    border-radius: 10px;
    transition: 0.5s;
}
.boite{
    float: right;
    background-color: black;
    height: 35px;
    
    width: 110px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;

}
.boite li a{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-decoration: none;
}
.boite:hover{
    background: whitesmoke;
    color: black;
}
.corps{
    margin-top:100px ;
}
.corps h1{
    padding: 20px;
    border: 1px solid white;
    font-size: 70px;
    background-color: rgba(224, 224, 223, 0.952);
    border-radius: 10px;
    box-shadow:  0px 0px 10px grey; 
}
.corps.test h1{
    color: red;
    justify-content: center;
    align-items: center;
}
.cause{
    margin-top:100px ;
    height: 500px;
    
}
.corps.test .title{
    color:  rgb(18,102, 241);
}
.trait{
    margin-top: 10px;
}
.col{
    height: 460px;
    margin-bottom:20px!important ;
}

.card img{
    width: 415px;
    height: 300px;
    
}
/* .card{
    transition: transform 1s;
}
.image{
    transform: rotateY(180);
} */
.title{
    padding: 20px;
    border: 1px solid white;
    font-size: 70px;
    background-color: rgba(224, 224, 223, 0.952);
    border-radius: 10px;
    box-shadow:  0px 0px 10px grey;
}
.title:hover{
    color:  rgb(18,102, 241);
}
.text{
    color:rgb(144, 138, 138);
    text-align: center;
}
.texte{
    text-align: justify;
    color: #003872;
}
.medica{
    width: 440px;
    height: 500px;

}
.titre{
    font-size: 30px;
    color: white;
    text-align: center;
   
    
}
.back{
    background-color: rgb(18,102, 241);
}
.text1{
    padding-top: 40px;
    font-size: 30px;
}
.Traitement{
    margin-top:30px;
}
.medica .ima{
    width: 400px;
}
footer i{
    color: rgb(18,102, 241);
}